.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: papayawhip;
  z-index: 2;
}

.nav-container a {
  padding: 0.5em 0;
}
